@import url('https://fonts.googleapis.com/css2?family=Cabin:wght@500&display=swap');

.menu {
  position: fixed;
  overflow-y: scroll;
  top: 0;
  bottom: 0;
  right: 0;
  padding-left: 20px;
  padding-top: 70px;
  padding-bottom: 20px;
  padding-right: 20px;
  background-color: rgba(189, 195, 199, 0.95);
  z-index: 10;
  display: flex;
  flex-direction: column;
  gap: 25px;
  min-width: 320px;
  height: 40vh;
  font-family: 'Cabin', sans-serif;
}

/* Hide scrollbar for Chrome, Safari and Opera */
.menu::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.menu {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

.menuItem {
  border-bottom: 1px solid #d0d1d2;
  text-align: left;
  cursor: pointer;
}

.h4 {
  font-weight: 500;
  letter-spacing: 0.5px;
  text-transform: uppercase;
  padding-bottom: 0px;
  padding-left: 10px;
  cursor: pointer;
  color: #545557;

  line-height: 200%;
}

.h4:hover {
  color: #000;
}
