html,
body {
  padding: 0;
  margin: 0;
  font-family: 'Gotham', -apple-system, BlinkMacSystemFont, Segoe UI, Roboto,
    Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

h4,
h3,
h2,
h1,
p {
  margin: 0px;
  padding: 0px;
}
